<header>
  <nav style="width: 100vw;" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark justify-content-between">
  <div>
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">LightVintage</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/api/products/Toasters">Toasters</a>
          <a class="dropdown-item" href="/api/products/Record Players">Record Players</a>
          <a href="/api/products/Cameras" class="dropdown-item">Cameras</a>
          <a href="/api/products/Cars" class="dropdown-item">Cars</a>
          <a href="/api/products/Shoes" class="dropdown-item">Shoes</a>
          <a href="/api/products/Typewriters" class="dropdown-item">Typewriters</a>
          
        </div>
      </li>
    </ul>
    
    </div>

    <div>
  <% if(!user) { %>
    <div>
      <a class="btn" href="/api/users/login">Login</a>
      <a  class="btn" href="/api/users/register">Register</a>
    </div>
    <% } else {%>
    <div>
      <form method="POST" action="/logout">
        Logged In As: <%= user.name %>
        <button type="submit" class="btn btn-outline-dark">LogOut</button>
      </form>
    </div>
<% } %>
    </div>
  </nav>
</header>