<header>
  <nav style="width: 100vw;" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark justify-content-between">
  <div>
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="#">LightVintage</a>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/api/products/Toasters">Toasters</a>
          <a class="dropdown-item" href="/api/products/Record Players">Record Players</a>
          <a href="/api/products/Cameras" class="dropdown-item">Cameras</a>
          <a href="/api/products/Cars" class="dropdown-item">Cars</a>
          <a href="/api/products/Shoes" class="dropdown-item">Shoes</a>
          <a href="/api/products/Typewriters" class="dropdown-item">Typewriters</a>

        </div>
      </li>
    </ul>

    </div>

<form method="POST" action="/api/products/filterPrice">

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="min">  </label>
        <input name="min" type="text" class="form-control" id="min" placeholder="Enter Min Price $">
      </div>
      <div class="form-group col-md-4">
        <label for="max">  </label>
        <input name="max" type="text" class="form-control" id="max" placeholder="Enter Max Price $">
      </div>
      <div class="form-group col-md-3">
        <label>   </label>

          <button type="submit" class="btn btn-outline-secondary" id="search-price">Search</button>

      </div>
    </div>
  </form>
    <div>

        <div>
          <form method="POST" action="/api/users/logout">
            <button type="submit" class="btn btn-outline-dark">LogOut</button>
          </form>
        </div>
    </div>


  </nav>
</header>
